<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.imatch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="imatch"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".Activity.Interest_Information_Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activity.Upload_Profile_Photo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Forgot_Password_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Update_Details_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MessagesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MatchingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.InterestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>